body {
    height: 4759px;
    width: 1445px;
    background-color: bisque;
    border: 4px double black;
    box-sizing: border-box;

    }

    .menu {
        display:flex;
        height: 87px;
        width: 940px;
        justify-content: space-between;
        list-style: none;
        align-items: center;
        font-family: Gilroy-Bold;
        border-bottom: 1px solid #828282;
        font-family: Gilroy-Bold;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        color:black;
    }

    .name {
        display: flex;
        width: 940px;
        height: 191px;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }

#name_1 {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 47.3392px;
    line-height: 59px;
    color: black;
}

#job {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: black;
}

#lang {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: black;
    transform: rotate(-90deg); 
}
.photo {
    justify-content: center;
}

/*   
    
       
}
.head__item1 {
    font-family: Gilroy-Bold;
    font-weight: bold;
    font-size: 35px;
    line-height: 22px;
    color:black;
}
.head__item3 {
    writing-mode: vertical-lr;
    text-orientation: sideways;
}
#about {
    text-align: center;
}
.about__item {
    display: flex;
    width: 940px;
    height: 310px;
    background-color:lightgrey;
    flex-direction: column;
    align-items: center;
    margin-top: 228px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: black;
   
}

.header2 {
    display: flex;
    width: 940px;
    height: 200px;
    background-color:bisque;
    flex-direction: column;
    align-items: center;
}
.software__item {
    display: flex; 
    width: 940px;
    height: 200px;
    background-color:aquamarine;
}

.portfolio__item{
    display: flex;
    flex-direction: column;
    width: 940px;
    
}*/