header, nav,ul {
width: 100%;
height: auto;
}
/*nav {
    padding: 0 100px;
}*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
       
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #828282;
    width: 940px;
    height: auto;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color:black;

}
.head {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #828282;
    width: 940px;
    height: 87px;
    
}
.head__item1 {
    font-family: Gilroy-Bold;
    font-weight: bold;
    font-size: 35px;
    line-height: 22px;
    color:black;
}
.head__item3 {
    writing-mode: vertical-lr;
    text-orientation: sideways;
}
.about {
    display: flex;
    width: 940px;
    height: 310px;
    background-color:lightgrey;
    flex-direction: column;
    align-items: center;
    margin-top: 228px;
   
}
.about__item {
    width: 485px;
    height: 218px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: black;
}
.header2 {
    display: flex;
    width: 940px;
    height: 200px;
    background-color:bisque;
    flex-direction: column;
    align-items: center;
}
.software__item {
    display: flex; 
    width: 940px;
    height: 200px;
    background-color:aquamarine;
}

.portfolio__item{
    display: flex;
    flex-direction: column;
    width: 940px;
    
}